.title {
    height: 10em;
    color: #fff;
    position: relative;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}

body {
    font-family: 'Montserrat', sans-serif;
}

html,
body,
header,
#intro {
    height: 100%;
}

#intro {
    background: url("./bgimg.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.quotetitle {
font-weight: bold;

}
.computer {
    width: 400px;
    height: 400px;
}

.titlein {
    color: #fff;
    text-align:center;
    }

.Inspirational{
height: 400px;
width: 100%;
background: url('./inspire.jpg');
background-repeat: no-repeat;
background-position: 100%;
background-size: cover;
margin-top: 2%;
}

.testimonials {
    margin: 50px auto;
}

.testimonials h1 {
    text-align: center;
    font-weight: bold;
    color:#53C1DE;
    padding-bottom: 10px;
    text-transform: uppercase;
}

.testimonials h1:after
{
        content: '';
        background:#53C1DE;
        display: block;
        height: 3px;
        width: 170px;
        margin: 20px auto 5px;
}

.testimonials .row {
    margin-top: 30px;
}

.col-md-4 {
    margin: 40px auto;
}

.profile {
    padding: 70px 10px 10px;
    background-color: #efefef; 
}

.profile img {
    top: -60px;
    position: absolute;
    left: calc(50% - 60px);
    border: 10px solid white;
}

.user{
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.profile h3 {
    font-size: 20px;
    margin-top: 15px;
    color: #53C1DE;
}
span{
    font-size: 12px;
    color: #333;
}

blockquote{
    font-size: 16px;
    line-height: 30px;
}

blockquote:before{
content:open-quote;
font-size: 50px;
position: relative;
color: #53C1DE;
line-height: 20px;
bottom: -15px;
right: 5px;
}

blockquote:after{
content:close-quote;
font-size: 50px;
position: relative;
color: #53C1DE;
line-height: 10px;
bottom: -15px;
left: 5px;
}

.profile:hover{
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: 0.5s;
}